.dashboard-left {
  background-color: $tertiary;
  border-radius: 8px 0 0 8px;
  height: 80vh;
  margin-bottom: 40px;
}

.dashboard-middle {
  height: 80vh;
  background-color: white;
  overflow: scroll;
   margin-bottom: 40px;
}

.dashboard-right {
  height: 80vh;
  background-color: white;
  overflow: scroll;
  border-radius: 0px 8px 8px 0px ;
  border-left: 1px solid $tertiary;
  margin-bottom: 40px;
  position: relative;
}

.bg-danger {
  background-color: #e69597 !important;
}

.bg-warning {
  background-color: #fdfb44 !important;
}

.bg-success {
  background-color: #b0f2b4 !important;
}

.mx-3 {
  font-weight: bolder;
}
