// Specific CSS for your home-page
body {
  position: relative;
}

.frame {
  background-color: $secondary;
}

.fill {
  margin-top: 16px;
  background-color: $tertiary;
  border-radius: 6px;
  box-shadow: 0 8px 8px #D3D6F5;
}

.count-status {
margin: 64px 0 0 0;
}

.bg {
  background-image: url(searching.png);
  background-repeat:  no-repeat;
  background-size: 280px;
  background-position: right 32px bottom -20px;
  height: 530px;
}

.explore {
 background-image: url(explore.png);
  background-repeat:  no-repeat;
  background-size: 33%;
  height: 180px;
  background-position: center;
}

.learn {
 background-image: url(learn.png);
  background-repeat:  no-repeat;
  background-size: 33%;
  height: 180px;
  background-position: center;
}

.col-md-auto {
  text-align: center;
}

.follow {
 background-image: url(follow.png);
  background-repeat:  no-repeat;
  background-size: 33%;
  height: 180px;
  background-position: center;
}

.prepare {
 background-image: url(prepare.png);
  background-repeat:  no-repeat;
  background-size: 33%;
  height: 180px;
  background-position: center;
}

.fluid-box {
  border-bottom: 1px solid $primary;
}

.disc-icon {
  background-color: $tertiary;
  height: 160px;
  margin: 2px;
}

.coding {
  display: flex;
  justify-content: center;m
  align-items: center;
}

.coding img {
  height: 60px;
  margin-top: 20px;
}

.archeology{
  display: flex;
  justify-content: center;
  align-items: center;
}

.archeology img {
  height: 60px;
  margin-top: 20px;
}

.medicine{
  display: flex;
  justify-content: center;
  align-items: center;
}

.medicine img {
  height: 60px;
  margin-top: 20px;
}

.engineering{
  display: flex;
  justify-content: center;
  align-items: center;
}

.engineering img {
  height: 60px;
  margin-top: 20px;
}

.architecture{
  display: flex;
  justify-content: center;
  align-items: center;
}

.architecture img {
  height: 60px;
  margin-top: 20px;
}

.law{
  display: flex;
  justify-content: center;
  align-items: center;
}

.law img {
  height: 60px;
  margin-top: 20px;
}

.biology{
  display: flex;
  justify-content: center;
  align-items: center;
}

.biology img {
  height: 60px;
  margin-top: 20px;
}

.maths{
  display: flex;
  justify-content: center;
  align-items: center;
}

.maths img {
  height: 60px;
  margin-top: 20px;
}

.chemistry{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chemistry img {
  height: 60px;
  margin-top: 20px;
}

.economics{
  display: flex;
  justify-content: center;
  align-items: center;
}

.economics img {
  height: 60px;
  margin-top: 20px;
}

.agriculture{
  display: flex;
  justify-content: center;
  align-items: center;
}

.agriculture img {
  height: 60px;
  margin-top: 20px;
}

.physics{
  display: flex;
  justify-content: center;
  align-items: center;
}

.physics img {
  height: 60px;
  margin-top: 20px;
}

.tag-label:hover {
  text-decoration: none;
  color: white;
  background-color: #5865FF;
}
