#showpage a {
  text-decoration: none;
}

#showpage {
  margin-bottom: 30px;
}

.fad.fa-map-marked-alt:after {
    content: "\10f5a0";
    margin-right: 8px;
}

.fad.fa-calendar:after {
    content: "\10f133";
    margin-right: 12px;
}

.fad.fa-graduation-cap:after {
    content: "\10f19d";
    margin-right: 5px;
}
