<h1>Your Applications:</h1>
<ul>
  <%@applications.each do |app|%>
    <%if current_user.id == app.user.id%>    
      <li>
        <h3><%=app.university.name%></h3>
        <ul>
          <%app.universities_program.documents.each do |doc|%>
            <li>
              <%=doc.name%>
            </li>
          <%end%>
        </ul>
        <%= link_to "/applications/#{app.id}", method: :delete, data: { confirm: "Are you sure? "} do %> <i class="fa fa-trash" aria-hidden="true"></i><% end %>
      </li>
    <%end%>
            
  <%end%>
</ul>