.calendar-wrapper {
  z-index: 2;
  margin: 0 auto;
  top: 2%;
  left: 27%;
  background: $tertiary;
  margin-top: 16px;
  border-radius: 12px;
  padding: 16px;
}

#calendar {
  z-index: 1;
  background: white;
}

.fa {
  z-index: 0;
}

.simple-calendar {

  .day {
    background: $white;
  }

  .wday-0 {

    width: 120px;
    background-color: $text2;
    border: 1px white solid;
    text-align: center;
  }
  .wday-1 {
    border: 1px white solid;
    width: 120px;
    text-align: center;
  }
  .wday-2 {
    border: 1px white solid;
    width: 120px;
    text-align: center;
  }
  .wday-3 {
    border: 1px white solid;
    width: 120px;
    text-align: center;
  }
  .wday-4 {
    border: 1px white solid;
    height: 60px;
    width: 120px;
    text-align: center;
  }
  .wday-5 {
    border: 1px white solid;
    height: 60px;
    width: 120px;
    text-align: center;

  }
  .wday-6 {
    border: 1px white solid;
    height: 60px;
    width: 120px;
    background-color: $text2;
    text-align: center;
  }

  .today {
    color:red;
    background: white;
    text-align: center;
    border-radius: 50%;

  }

  .past {

  }

  .future {}

  .start-date {
  }

  .prev-month {
    background-color: $text3;
    opacity: 0.2;
  }
  .next-month {
   background-color: $text3;
   opacity: 0.2;
 }
 .current-month {}

 .has-events {

 }
 .round {
  border-radius: 50%;
  width: 2px;
  height: 2px;



  background-color: red;

  color: #666;
  text-align: center;
}
}

