.calendar-wrapper {
  margin-top: 16px;
  display: block;
  overflow: auto;
  border: 25px solid #F3F4FF;
  border-radius: 15px;
  margin-bottom: 80px;
}

#calendar {
  z-index: 1;
  background: white;
  width: 100%;
}

.fa {
  z-index: 0;
}

.simple-calendar {

  .day {
    background: $white;
  }

  .wday-0 {
    height: 100px;
    width: 100px;
    background-color: $text2;
    border: 1px white solid;
    text-align: center;
    font-size: 25px;
   
  }
  .wday-1 {
    height: 100px;
    border: 1px white solid;
    width: 100px;
    text-align: center;
    font-size: 25px;
  }
  .wday-2 {
    height: 100px;
    border: 1px white solid;
    width: 100px;
    text-align: center;
    font-size: 25px;
  }
  .wday-3 {
    height: 100px;
    border: 1px white solid;
    width: 100px;
    text-align: center;
    font-size: 25px;
  }
  .wday-4 {
    height: 100px;
    border: 1px white solid;
    width: 100px;
    text-align: center;
    font-size: 25px;
  }
  .wday-5 {
    height: 100px;
    border: 1px white solid;
    width: 100px;
    text-align: center;
    font-size: 25px;

  }
  .wday-6 {
    height: 100px;
    border: 1px white solid;
    width: 100px;
    background-color: $text2;
    text-align: center;
    font-size: 25px;
  }

  .today {
    height: 100px;
    color:white;
    background: rgb(202, 202, 202);
    font-size: 25px;
  }

  .past {

  }

  .future {}

  .start-date {
  }

  .prev-month {
    background-color: $text3;
    opacity: 0.2;
  }
  .next-month {
   background-color: $text3;
   opacity: 0.2;
 }
 .current-month {}

 .has-events {
 }
}

.program-done {
  display: block;
  overflow: auto;
  border: 1px green solid;
}

.program-todo {
  display: block;
  overflow: auto;
  border: 1px red solid;
}

#secret-box {

font-size: 25px;

}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;

}

.tab {
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #F3F4FF;
  color: #121E72;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #6E76A9;
  color:white
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #6E76A9;
  color: white
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#calendarbutton {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

