.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 8px 8px #D3D6F5;
  display: flex;
  align-items: center;
   border-radius: 6px;
}

.card-product .text-left h3:hover {
  text-decoration: none;
}

.card-product img {
  height: 100%;
  object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  padding-left: 8px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product h2:hover {
  text-decoration: none;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


.adv {
  background-position:center;
  background-repeat:no-repeat;
  background-image:url(stipendium.jpg);
  height: 240px;
  width:80px;
  object-fit:fit;
}

.card-dashboard {
  margin-top: 16px;
  background-color: $tertiary;
  border-radius: 6px;
  box-shadow: 0 8px 8px #D3D6F5;
  position: relative;
  display: block;
  overflow: auto;
}

.horizontal-list {
  display: inline-flex;
}

.document-form {
  width: 250px;
}

.delete {
  position: absolute;
  top: 20px;
  right: 20px;
}

.delete-icon {
  position: absolute;
  color: black;
  top: 3px;
  right: 3px;
}

.deadline {
  position:absolute;
  top:20px;
  right: 10px;
  font-weight: 600;
}

.deadline h5 {
  font-weight: 600;
}

.required-docs-container {
  border:1px solid black;
  display: block;
  overflow: auto;
}

.mark-complete {
  position:absolute;
  bottom: 5px;
  right: 5px;
}
.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.02); }
