.carousel-item {
  border-radius: 6px;
}

.carousel-item img {
  height: 450px;
  width: 730px;
  border-radius: 6px;
}

.carousel-inner {
  border-radius: 6px;
  box-shadow: 0 8px 8px #D3D6F5;
}

img {
  border-radius: 6px;
}

#show-row {
  margin-top: 40px;
}

#application-info {
  // margin-left: -3px;
  background-color: #F3F4FF;
  border-radius: 6px;
  box-shadow: 0 8px 8px #D3D6F5;
}

#carousel {
  // margin-right: -3px;
}

.card-application h2 {
  font-size: 23px;
}

.card-application {
  padding: 16px;
}

.card-application h4 {
  font-size: 18px;
}

#uniinfo {
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #F3F4FF;
  border-radius: 6px;
  box-shadow: 0 8px 8px #D3D6F5;
  width: 100%;
  opacity: 0.8;
}
