.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent {
  position: relative;
}

.notification {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position:absolute;
  right: 23%;
  top: 18%;
  z-index: 1;
}

.diese-hier {
  position:absolute;
  right: 5%;
  top: 100%;
  width: 400px;
}

.this-one {
  width: 50px;
}

#notifications-counter {
  background: green;
  vertical-align: middle;
  text-align: center;
  width:20px;
  border-radius: 50%;
  position: absolute;
  right: 27%;
  top: 10%;
  background: red;
  color:white;
  font-weight: 600;
  font-size: 12px;
  z-index: 3;
}

.notifications-content {
  border: 1px solid rgb(197, 195, 195);
  margin-top: 3px;
  padding: 3px;
}
