.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbarSupportedContent {
  position: relative;
}

.notification {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  position:absolute;
  right: 23%;
  top: 18%;
  z-index: 1;
}

.diese-hier {
  position:absolute;
  right: 5%;
  top: 100%;
  width: 400px;
}

.this-one {
  width: 50px;
}

#notifications-counter {
  position:absolute;
  right: 7.2%;
  color:red;
  font-weight: 600;
  z-index: 3;
}
