.home-search-input {
  border: 1px solid white;
  margin-right: 4px;
  border-radius: 4px;
  padding: 12px 6px;
  height: fit-content;
}
.top-search {
  position: relative;
  margin-bottom: 16px;
  width:100%;
  margin-left: -50px;
}
.my-container {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  top: 5px;
  left: 50%;
  z-index: 1;
  border-radius: 3px;
}

#hidden-search {
  display: block;
  overflow: auto;

  margin-top: 48px;

  margin-left: 29px;
  margin-right: auto;
  display: none;
  background-color: white;
  padding-top: 20px;
  position: absolute;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 2;
  border-radius: 4px;
  top: 230px;
  left: -14px;
  opacity: 1;
  font-size:16px;
  border-radius: 6px;
  box-shadow: 0 8px 8px #D3D6F5;
  width: 420px;
}

#close {
  color: $primary;
  opacity: 0.7;
  display: inline;
  position: absolute;
  right: 30px;
  margin-bottom: -10px !important;
}

.secondary-btn {
  color: $primary;
  color: white;
}

.box {
  position: relative;
  margin-bottom: 16px;
  width:100%;
}

.recent {
  border-top: 1px solid $primary;
}

// .searches {
//   margin-top: 20px;
//   border-top: 1px solid $primary;
// }

.explore {
  .simple_form {
    margin: 0 5px;
    flex-grow: 1;
    input {
      width: 100%
    }
  }
}

.my-row {
  width:100%;
}

.query-input {
  flex-grow: 1;
  height:50px;
  border-radius: 4px 0 0 4px;
  border: none;
  box-shadow: 0 0 0;
  transition: 0.3s;

}
.input-field {
  flex-grow: 1;
}

.search-header {
  font-weight: bold;
  font-size: 16px;
  margin: 16px 0px 8px 0px;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
}


