p {
  color: $text2;
  font-size:16px;
}

h3 {
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.note {
  color: $text3;
}

a {
  text-decoration: none;
  color:white;
}

a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
      color:white;
}
